<app-cart-icon
  [cart]="cart"
  [badgeHidden]="badgeHidden"
  (click)="openDialog();">
</app-cart-icon>
<div class="stripe"></div>

<div class="container">
  <ng-container *ngFor="let product of products" >
      <table>
        <app-product-list-item
          [product]="product"
          [ord]="ord"
          (updateCart)="onUpdatedCart($event)"
          >
        </app-product-list-item>
      </table>
  </ng-container>
  <app-button
  *ngIf="!badgeHidden"
  text="checkout"
  [link]="checkout"
  [orderId]="ord"
  [token]="token.access_token">
</app-button>
</div>


