<div class="title">
  <div class="title__logo">
  <!-- <div class="title__badge"><a href="https://forms.gle/t3UeSd9zEnLvTuAi7" target="_blank" class="topcat-link">team application</a></div> -->

  </div>
  <div class="title__title">

    <h1><fa-icon [icon]="cal" ></fa-icon> 12.7 - 14.7.2024 </h1>
    <h1><fa-icon [icon]="pin" ></fa-icon> Warsaw</h1>
    <h3>#mixed #7on7 #artificial #3days #quality<br>ultimate tournament</h3><br>

  </div>

  <div class="app" style="width: 100%;">
    <!-- <div class="app-icon" style="width: 140px; display: block; margin: 0 auto;">

      <a href="http://app2.topcat.zwr.waw.pl" target="_blank"><img src="http://zwr.waw.pl/images/logo-app.png" alt="app" style="width: 140px; border-radius: 25px; box-shadow: 4px 4px 200px #822778;"></a>
    </div>
    <div class="app-title" style=" width: 250px; display: block; margin: 8px auto;">
      <h3>Wyniki</h3>
    </div>-->
  </div>
</div>

<div class="signup">

  <h1>🌸 THINK PINK / RÓŻOWO MI</h1>
  <p class="margin-bottom-big">
      <img src="../../assets/TOPCAT2024.jpg" alt="">
    <br><br>

    <!-- https://forms.gle/t3UeSd9zEnLvTuAi7 -->
  </p>
    <app-button text="THINK PINK 💗" link="https://forms.gle/oxKsJj48aZbNBTHA8">Zgłoś drużynę i dowiedz się więcej</app-button>
  <div class="signup-form margin-bottom-big">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdqJ4gYDrJNNr47LuNXzMgEJBeKpab-k6QQcrKS0Q-ZtmZlPQ/viewform?embedded=true" width="729" height="1235" frameborder="0" marginheight="0" marginwidth="0">Ładuję…</iframe>
    <iframe src="https://ultical.com/embed/map/events/?zoom=10.3100&center=20.9432,52.2644" width="729" height="450"  style="border: 0" allowfullscreen="" loading="lazy" ></iframe>

  </div>
</div>
<!-- <div class="signup">

  <h1>🟢 enter the CATrix</h1>
  <p class="margin-bottom-big">
    <a href="https://www.instagram.com/reel/CnCgE5nNPzA/" target="_blank">
      <img src="../../assets/enter_the_CATrix.jpg" alt="">
    </a><br><br>
    Remember, all we're offering is the <a href="https://forms.gle/t3UeSd9zEnLvTuAi7" target="_blank" class="topcat-link">True Ultimate</a>.<br>Nothing more.  👇

    <!-- https://forms.gle/t3UeSd9zEnLvTuAi7 -->
  <p>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br>.<br></p>
  <a href="https://forms.gle/t3UeSd9zEnLvTuAi7" target="blank">
    <app-button text="enter the CATrix ❣" link="https://forms.gle/t3UeSd9zEnLvTuAi7">Zgłoś drużynę i dowiedz się więcej</app-button>
  </a>
  <div class="signup-form margin-bottom-big">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdFCrePfuIlSHaHXfzvmb7Y6H21aAOs9T0_VUIlZPMWmg2Olg/viewform?embedded=true" width="720" height="1235" frameborder="0" marginheight="0" marginwidth="0">Ładuję…</iframe>
    <!-- <iframe src="" width="640" height="1152" frameborder="0" marginheight="0" marginwidth="0">Ładuję…</iframe> -->
  </div>

-->
