@import './../../../sass/styles';
.contact{
  height: 66vh;
  margin: 20vh 0;
  text-align: center;
  & h2{
    font-size: 2rem;
  }
  @include respond(phone){
    margin-bottom: 6rem;
  }
  & .avatar{
    width: 100%;
    height: 200px;
    & img{
      border-radius: 50%;
      width: 200px;
    }
  }
  & p, fa-icon{
    margin-top: 2rem;
    font-size: .9rem;
    line-height: 1rem;
    letter-spacing: 0rem;
    text-align: center;
    @include respond(phone){
      font-size: 0.9rem;
      line-height: 1.1rem;
      letter-spacing: 0rem;
      word-spacing: 0px;
      text-align: left;
    }
  }
  & fa-icon{
    cursor: unset;
    filter: none;
    -webkit-filter: none;
    transition: unset;
    &:hover{
      filter: none;
      -webkit-filter: none;
    }
    @include respond(phoneUp){
      display: none;
      visibility: hidden;
    }

  }
  & span{
    @include respond(phone){
      display: none;
      visibility: hidden;
    }
  }
}

