<div class="mobile">

      <fa-icon [icon]="menuIcon" (click)="sidenav.toggle()"></fa-icon>

  </div>
  <mat-sidenav-container>
      <mat-sidenav #sidenav>
        <img src="../../assets/ZWR_sign.png" alt="zwr" (click)="sidenav.toggle()" routerLink="/">
        <mat-nav-list>
          <a (click)="sidenav.toggle()" mat-list-item routerLink="/o-nas" routerLinkActive="active">DRUŻYNA</a>
          <a (click)="sidenav.toggle()" mat-list-item routerLink="/sklep" routerLinkActive="active">WYPOŻYCZALNIA</a>
          <a (click)="sidenav.toggle()" mat-list-item routerLink="/kontakt" routerLinkActive="active">KONTAKT</a>
        </mat-nav-list>
        <div class="social-holder">
          <ul class="social">
            <li>
              <a href="https://www.facebook.com/zawierucha.warszawa" target="_blank">
                <fa-icon [icon]="facebookIcon"></fa-icon>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/zawierucha_zwr" target="_blank">
                <fa-icon [icon]="instagramIcon"></fa-icon>
              </a>
            </li>
            <li>
              <a href="https://vimeo.com/user131152663" target="_blank">
                <fa-icon [icon]="vimeoIcon"></fa-icon>
              </a>
            </li>
          </ul>
        </div>

      </mat-sidenav>
    <mat-sidenav-content>
      <!-- <img src="../assets/dysk2.png" alt="ZWR logo" routerLink="/" id="disc"> -->

        <div class="router-wrapper">
          <img src="../assets/dysk2.png" alt="ZWR logo" routerLink="/" id="triangle">

          <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
