@mixin margin{
  margin-top: 100rem;
}
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
      @media only screen and (max-width: 37.5em) { @content };    //600px
  }
  @if $breakpoint == tab-port {
      @media only screen and (max-width: 1119px) { @content };     //900px
  }
  @if $breakpoint == tab-land {
      @media only screen and (max-width: 1080px) { @content };    //1200px
  }
  @if $breakpoint == small-desktop {
      @media only screen and (max-width: 1400px) { @content };    //1200px
  }
  @if $breakpoint == big-desktop {
      @media only screen and (min-width: 1600px) { @content };    //1800px
  }
  // reverse
  @if $breakpoint == phoneUp {
    @media only screen and (min-width: 37.5em) { @content };    //>600px
}
  @if $breakpoint == tabUp {
    @media only screen and (min-width: 1080px) { @content };    //>600px
}
}
