
// $color: #d4af37;
// $contrast: #210d91;
// $mild: #72727267;

$color: #F6B058;
$contrast: #5866E1;
$mild: #CCCCA0;
$error: #D1551A;
$error-l: #e2c5b8;
$black: #030301;

$neutral: #818181;
$metal: #bbb7b7;
$selection: #bbb7b7;
$matrix: rgb(20, 216, 63);

$gap: 0px;
// $f: 'Bahnschrift';
$f2: 'Lucida Console';
// $f3: 'Trickster';
$f4: 'Coolvetica';
$f5: 'Coolvetica Italic';
$nav: 'Orzel';
$tech: 'Sudo Regular';
$techLight: 'Sudo Light';
$bryg: 'Brygada 1918';
// $brygSemiBoldItalic: 'Brygada 1918 Semi Bold Italic';
// $brygBoldItalic: 'Brygada 1918 Bold Italic';
$router: calc(100vh - 13rem);
$flow: cubic-bezier(.89,.11,0,1.03);

//NEW
$color-dark: #002527;
$color-blue: #019A9A;
$color-blue-dark: #1e6569;

$color-white: #f8fde5;

$color-red: #CC0526;
//$color-orange: #F6A819;
$color-orange: #d4af37;
$color-gold: #d4af37;
$color-bronze: #3f1606;

$topcat-yellow: #d4af37;
$topcat-purple: #7b2878;

$blefik-blue: #50A99E;
$blefik-yellow: #C8BF67;
$blefik-red: #AC3137;


$grid-width: 900px;
$central-grid-width:57rem;
$gutter-horizontal: 4rem;
$gutter-vertical: 8rem;




@font-face {
  font-family: 'Coolvetica';
  src: url('https://zwr.waw.pl/assets/fonts/coolvetica\ rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Orzel';
  src: url('https://zwr.waw.pl/assets/fonts/SLOrzel-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Coolvetica Italic';
  src: url('https://zwr.waw.pl/assets/fonts/coolvetica\ rg\ it.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lucida Console';
  src: url('https://zwr.waw.pl/assets/fonts/LUCON.ttf');
  src: url('https://zwr.waw.pl/assets/fonts/LUCON.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sudo Regular';
  src: url('https://zwr.waw.pl/assets/fonts/Sudo-Regular.ttf');
  src: url('https://zwr.waw.pl/assets/fonts/Sudo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

