// $color: #84fb54;
// $color: #ffa600;
$color: #d4af37;
$contrast: #210d91;
// $contrast: red;
$mild: #72727267;
$mild2: #5ebb20;
$neutral: #818181;
$white: black;
$metal: #bbb7b7;
$selection: #bbb7b7;
$matrix: rgb(20, 216, 63);

$gap: 0px;
// $f: 'Bahnschrift';
$f2: 'Lucida Console';
// $f3: 'Trickster';
$f4: 'Coolvetica';
$f5: 'Coolvetica Italic';
$tech: 'Sudo Regular';
$techLight: 'Sudo Light';
$bryg: 'Brygada 1918';
// $brygSemiBoldItalic: 'Brygada 1918 Semi Bold Italic';
// $brygBoldItalic: 'Brygada 1918 Bold Italic';
$router: calc(100vh - 13rem);

//NEW
$color-dark: #002527;
$color-blue: #019A9A;
$color-blue-dark: #1e6569;

$color-white: #f8fde5;

$color-red: #CC0526;
//$color-orange: #F6A819;
$color-orange: #d4af37;
$color-gold: #d4af37;
$color-bronze: #3f1606;

$topcat-yellow: #d4af37;
$topcat-purple: #7b2878;

$blefik-blue: #50A99E;
$blefik-yellow: #C8BF67;
$blefik-red: #AC3137;


$grid-width: 900px;
$central-grid-width:57rem;
$gutter-horizontal: 4rem;
$gutter-vertical: 8rem;




@font-face {
  font-family: 'Coolvetica';
  src: url('https://transcendent-platypus-6edbe5.netlify.app/assets/fonts/coolvetica\ rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Coolvetica Italic';
  src: url('https://transcendent-platypus-6edbe5.netlify.app/assets/fonts/coolvetica\ rg\ it.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lucida Console';
  src: url('https://transcendent-platypus-6edbe5.netlify.app/assets/fonts/LUCON.ttf');
  src: url('https://transcendent-platypus-6edbe5.netlify.app/assets/fonts/LUCON.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sudo Regular';
  src: url('https://transcendent-platypus-6edbe5.netlify.app/assets/fonts/Sudo-Regular.ttf');
  src: url('https://transcendent-platypus-6edbe5.netlify.app/assets/fonts/Sudo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

