// $color: #84fb54;
// $color: #ffa600;
$color: #bbb7b7;
$contrast: #210d91;
// $contrast: red;
$mild: #72727267;
$mild2: #5ebb20;
$neutral: #818181;
$white: black;
$metal: #bbb7b7;
$selection: #bbb7b7;

$gap: 0px;
$f: 'Bahnschrift';
$f2: 'Lucida Console';
$tech: 'Sudo Regular';
$techLight: 'Sudo Light';
$bryg: 'Brygada 1918';
$brygSemiBoldItalic: 'Brygada 1918 Semi Bold Italic';
$brygBoldItalic: 'Brygada 1918 Bold Italic';
$router: calc(100vh - 13rem);


@font-face {
  font-family: 'Lucida Console';
  src: url('http://zwr.waw.pl/assets/fonts/Lucon.ttf');
  src: url('http://zwr.waw.pl/assets/fonts/Lucon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bahnschrift';
  src: url('http://zwr.waw.pl/assets/fonts/Bahnschrift.ttf');
  src: url('http://zwr.waw.pl/assets/fonts/Bahnschrift.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sudo Light';
  src: url('http://zwr.waw.pl/assets/fonts/Sudo-Light.ttf');
  src: url('http://zwr.waw.pl/assets/fonts/Sudo-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sudo Regular';
  src: url('http://zwr.waw.pl/assets/fonts/Sudo-Regular.ttf');
  src: url('http://zwr.waw.pl/assets/fonts/Sudo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brygada 1918';
  src: url('http://zwr.waw.pl/assets/fonts/Brygada\ 1918-Regular.otf');
  src: url('http://zwr.waw.pl/assets/fonts/Brygada\ 1918-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brygada 1918 Semi Bold Italic';
  src: url('http://zwr.waw.pl/assets/fonts/Brygada\ 1918-SemiBolditalic.otf');
  src: url('http://zwr.waw.pl/assets/fonts/Brygada\ 1918-SemiBolditalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brygada 1918 Bold Italic';
  src: url('http://zwr.waw.pl/assets/fonts/Brygada\ 1918-Bolditalic.otf');
  src: url('http://zwr.waw.pl/assets/fonts/Brygada\ 1918-Bolditalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

