  <h3>
    <fa-icon id="cart" [icon]="cartIcon" (click)="onClose()"></fa-icon>
    Cart
  </h3>

  <div *ngIf="cart.data.attributes.skus_count !== 0; else emptyCart">
    <p class="cart_order-number">Booking nr {{cart.data.attributes.number}}<br>
      <span class="cart_count-total">(count of rooms: {{cart.data.attributes.skus_count}})</span>
    </p>
    <div class="line-items">
      <div *ngFor="let line_item of lineItems">
        <div class="cart_product">
          <div class="cart_product-image">
            <img [src]="line_item.img" alt="">
          </div>
          <div class="cart_product-title">
            <h4><a [routerLink]="'ebucc2025/'+line_item.sku" (click)="onClose()">{{line_item.name}}</a><br>
              <span class="cart_mild">{{line_item.sku}}</span>

            </h4>

            <table *ngIf="line_item.options else defaultStay" style="padding: 0.3rem 18% 3rem 3%; font-size: .9rem;">
              <tr *ngFor="let option of line_item.options"><td>stay:</td><td>{{option}}</td></tr>
              <tr><td>price:</td><td>{{line_item.unit_price}}</td></tr>
            </table>
            <ng-template #defaultStay >
              <table style="padding: 0.3rem 18% 3rem 3%; font-size: .9rem;">
                <tr><td>stay:</td><td>5-8/6/2025</td></tr>
                <tr><td>price:</td><td>{{line_item.unit_price}}</td></tr>
              </table>
            </ng-template>
              <fa-icon
              *ngIf="isCheckoutEnabled"
              [icon]="trashIcon"
              (click)="trashItem(line_item.id)"
              matTooltip="Delete from cart"
              matTooltipShowDelay="200"
              matTooltipHideDelay="100">
            </fa-icon>
          </div>
        </div>
      </div>
    </div>


    <!-- <ul class="cart_totals">
      <li>podsuma: {{cart.data.attributes.formatted_subtotal_amount}}</li>
      <li>zniżka: {{cart.data.attributes.formatted_discount_amount}}</li>
      <li>wysyłka: {{cart.data.attributes.formatted_shipping_amount}}</li>
      <li>podatek: {{cart.data.attributes.formatted_total_tax_amount}}</li>
      <li>karta podarunkowa: {{cart.data.attributes.formatted_gift_card_amount}}</li>
      <li>suma: {{cart.data.attributes.formatted_total_amount_with_taxes}}</li>
    </ul> -->

    <table *ngIf="isCheckoutEnabled">
      <tr><td>booking status:</td><td>{{ cart.data.attributes.status }}</td></tr>
      <tr><td>payment status:</td><td>{{ cart.data.attributes.payment_status }}</td></tr>
      <tr><td>total amount:</td><td>{{ cart.data.attributes.formatted_total_amount_with_taxes }}</td></tr>
    </table>
    <table *ngIf="!isCheckoutEnabled && shipment">
      <tr><td>delivery:</td><td>{{ shipment.attributes.formatted_total_amount }}</td></tr>
      <tr><td>total amount:</td><td>{{ cart.data.attributes.formatted_total_amount_with_taxes }}</td></tr>
    </table>
    <div *ngIf="!isCheckoutEnabled && shipment && !isPaymentCaptured" class="cart_confirm" >
      <p>Your reservation has been accepted.<br><br>
        <span>ZWR event agency</span>
      </p>
    </div>

    <!-- <div *ngIf="isCheckoutUnfinished" class="cart_confirm"> -->
    <div class="cart_confirm">
      <p>Additional Tourist Tax of 3,22&nbsp;zł&nbsp;/&nbsp;person&nbsp;/&nbsp;night applies (paid at check-in).</p>
    </div>
    <div class="cart_confirm">
      <p>Your reservation is not finished.<br>Go to checkout to confirm and pay.</p>
    </div>

    <app-button
      *ngIf="ord && isCheckoutEnabled"
      text="checkout"
      [link]="checkout"
      [orderId]="ord"
      [token]="token.access_token"
      >
    </app-button>
    <!-- TEMPORARY DELETE THE REFRESH BUTTON-->
    <!-- <fa-icon id="refresh"
      *ngIf="isRefreshEnabled"
      [icon]="syncIcon"
      (click)="getCurrentOrder()"
      matTooltip="Refresh status"
      matTooltipShowDelay="200"
      matTooltipHideDelay="100">
    </fa-icon> -->

    <fa-icon id="delete"
      *ngIf="!isCheckoutEnabled && shipment"
      [icon]="trashIcon"
      (click)="clearLocalStorage()"
      matTooltip="Delete this confirmation and book again"
      matTooltipShowDelay="200"
      matTooltipHideDelay="100">
    </fa-icon>


  </div>
  <ng-template #emptyCart>
    <p class="cart_info">Your cart is empty</p>
  </ng-template>
  <fa-icon id="close" [icon]="closeIcon" (click)="onClose()"></fa-icon>


