<div class="container">
  <div class="container__overlay">

    <div class="slides margin-bottom-huge">
      <app-slideshow [slidesSet]="images" slidesId="main" [slidesCaptions]="titles"></app-slideshow>
    </div>

    <a name="fresh"></a>
    <section class="fresh margin-bottom-big">
      <h1 class="margin-bottom-big">📰Newsy</h1>
      <div class="window">
        <h3>Organizujemy HMP i bronimy tytułu!✨</h3>
          <div class="window__image">
            <img src="../assets/hmp2022.jpg" alt="open">
          </div>
        <p>
          Po rocznej przerwie w rozgrywkach organizujemy HMP dla wszystkich klas rozgrywkowych w Strefie Sportu Książenice i jeszcze bronimy tytułu Mistrza!
        </p>
      </div>
      <div class="window">
        <h3>Mamy Halowe Mistrzostwo Polski! 🏆</h3>
          <div class="window__image">
            <img src="../assets/hmp2020rogal.JPG" alt="Rogal">
          </div>
        <p>
          Po zaciętym finale przeciwko RJP Warszawa wygrywamy Halowe Mistrzostwo Polski 2020. Rywale kontrolowali mecz, ale nasz wysiłek obronny opłacił się w końcówce! 🥇
        </p>
        <div class="video">
          <video src="../assets/universe.mp4" width="100%"></video>
        </div>
      </div>





    </section>
    <section class="history margin-bottom-big" id="history">
      <a name="history"></a>

      <h1 class="margin-bottom-big">❄Historia</h1>

      <p><strong>Nasza drużyna powstała pod koniec 2010 roku w wietrzną, śnieżną noc.</strong> Trójka praojców rzucała w tę noc dyskiem i postanowili, że założą nową ekipę ultimate i będzie ona nosić nazwę owej mroźnej zawieruchy.
        <br><br>Skład Zawieruchy to wyjadacze i zajawkowicze. Rzucamy dyskiem na zewnątrz i pod dachem, w parkach, na placach, na ulicach i plażach. Robiliśmy Zawieruchę na wielu turniejach i ligach, ale Zawierucha to też stan umysłu.
        <br>
        <br>Cyrk obwoźny groźny, a cheer nośny.
        <br><br>Zawierucha ludzie koty...
        <br><br>W roku 2021 zima była wiele łagodniejsza niż dawniej. My chcieliśmy coś zmienić i namieszać. Nasi posłańcy udali się do sąsiedniego plemienia AKS Zły Kosmodysk z wnioskiem o wykonanie fuzji. Dawniej już graliśmy razem jako nieopierzona Kosmorucha...
        <br><br>Misja Zawieruchy nie jest jednakże dokonana.
        </p>
        <div class="back tornado">
        </div>
        <p class="margin-bottom-big">
        <br><br>Tornadko wszyscy noszą głęboko w sercach, a niektórzy nawet na dziarach. Tutaj dostaje ono nowe życie w eventowym spin-offie. Zawsze przecież chodziło o show....
      </p>


      <h1 class="margin-bottom-big">🏆Nasze sukcesy</h1>

        <div class="window">


          <ul class="success"><h3 class="margin-bottom-small">🍀 TRAWIASTE MISTRZOSTWA POLSKI</h3>
            <li>🥔4. MP 2021 (Brzeg)</li>
            <li>🥔4. MP 2019 (Opalenica)</li>
            <li>7. MP 2018 (Opalenica)</li>
            <li>5. MP 2017 (Wrocław)</li>
            <li>6. MP 2016 (Poznań)</li>
            <li>10. MP 2015 (Łany)</li>
            <li>💀 MP 2014 (Łódź)</li>
            <li>8. MP 2013 (Opalenica)</li>
            <li>9. MP 2012 (Wrocław)</li>
          </ul>
        </div>
        <a name="beach"></a>

        <div class="window">
          <ul class="success">
          <h3 class="margin-bottom-small">🌅 PLAŻOWE MISTRZOSTWA POLSKI</h3>
            <li>🥉 3. PMP 2022 (Gdańsk)</li>
            <li>🥔 4. PMP 2021 (Gdańsk)</li>
            <li>🥉 PMP 2019 (Gdańsk)</li>
            <li>7. PMP 2018 (Gdańsk)</li>
            <li>5. PMP 2017 (Gdańsk)</li>
            <li>🥇 PMP 2016 (Gdańsk)</li>
            <li>6. PMP 2015 (Gdańsk)</li>
          </ul>
        </div>

        <div class="window">
        <ul class="success">
          <h3 class="margin-bottom-small">✨ SPIRIT OF&nbsp;THE&nbsp;GAME</h3>
            <li>QHMP Centrum 2017</li>
            <li>Mistrzostwa Polski 2015</li>
            <li>QMP Centrum 2015</li>
            <li>Warzka 2015</li>
            <li>Mogilno Cup 2014</li>
            <li>Ultimate Spring Break 2013</li>
          </ul>
        </div>
        <a name="indoor"></a>

        <div class="window">
          <ul class="success">
          <h3 class="margin-bottom-small">👟 HALOWE MISTRZOSTWA POLSKI</h3>
          <li><span class="highlight">🥇 HMP 2022 (Książenice)</span></li>
          <li><span class="highlight">🥇 HMP 2020 (Wrocław)</span></li>
          <li>🥔4. HMP III liga  (Wrocław)</li>

          <li>🥉 HMP 2019 (Warszawa)</li>
          <li>🥉 HMP 2019 III liga (N. D. Maz.)</li>

          <li>5. HMP 2018 (Zabrze)</li>
            <li>🥔4. HMP 2017 (Wrocław)</li>
            <li>5. HMP 2016 (Płock)</li>
            <li>10. HMP 2015 (Wrocław)</li>
            <li>8. HMP 2014 (Rzeszów)</li>
            <li>5. HMP 2013 (Bełchatów)</li>
            <li>9. HMP 2012 (Kraśnik)</li>
          </ul>
        </div>




        <div class="window">
          <ul class="success">
            <h3 class="margin-bottom-small">🏅 PUDŁO</h3>
            <li>🥇 WLU* open 2019/20</li>
            <li>🥇 WLU* mixed 2018/19</li>
            <li>🥇 Rondo 2019</li>
            <li>🥇 Warzka 2018</li>
            <li>🥇 Mogilno Cup 2014</li>
            <li>🥈 Mistrzostwa Warszawy 2018</li>
            <li>🥈 Liga V4+ 2018</li>
            <li>🥈 Ależ Talerz 2015</li>
            <li>🥈 WLU 2015</li>
            <li>🥈 Mistrzostwa Litwy Open 2014</li>
            <li>🥈 WLU 2014</li>
            <li>🥈 Boruta Cup 2014</li>
            <li>🥉 WLU* mixed 2021/22</li>
            <li>🥉 WLU* mixed 2020/21</li>
            <li>🥉 WLU* mixed 2019/20</li>
            <li>🥉 Warzka 2019</li>
            <li>🥉 Rainbow Winter 2016</li>
            <li>🥉 Warzka 2015</li>
            <li>🥉 Sun Beam 2014</li>
            <li>🥉 WZIU 2012/13</li>
          </ul>
        </div>
      <a name="success"></a>

        <div class="window">
          <ul class="success">
            <h3 class="margin-bottom-small">💪 INDYWIDUALNE</h3>
            <li><span class="highlight">Kosmal MVP HMP 2022</span></li>
            <li><span class="highlight">Zając MVP HMP 2020</span></li>
            <li><span class="highlight">Tosia - 5MVP WLU* 19/20 women</span></li>
            <li><span class="highlight">Zając, Rogal - 5MVP WLU* 19/20 mixed</span></li>
            <li><span class="highlight">Zając, Helio - 5MVP WLU* 19/20 open</span></li>
            <li><span class="highlight">Kostek - Sztos Roku 2019</span></li>
            <li><span class="highlight">Tosia - Progres Roku 2019</span></li>
            <li><span class="highlight">Zając - Zawodnik Roku 2019</span></li>
            <li>Zając - MVP Dragon Cup 2019</li>
            <li>Zając - MVP Rondo 2019</li>
            <li>Rogal - MVP HMP III ligi 2019</li>
            <li>Kacpi - Debiut Roku 2018</li>
            <li>Ema - MVP Dragon Cup 2018</li>
            <li>Helio - MVP MP Open 2018</li>
            <li>Sarah - WMVP Ależ talerz 2015</li>
            <li>Zając - MVP Goats Cup 2014</li>
            <li>Helio - MVP roku 2014</li>
            <li>Helio - MVP WLU 2014</li>
            <li>Rogal - MVP Boruta Cup 2014</li>
            <li>Paula - Debiut Roku 2014</li>
            <li>Ruda - Debiut Roku 2013</li>
            <li>Lucy - WMVP HMP 2013</li>
            <li>Helio - MVP WZIU 2011/12</li>
            <li>Rogal - MVP BBC 2011</li>
          </ul>
        </div>

        <h1 style="margin-top:45px;">🎈TOP CAT: turniej na 10-lecie</h1>

        <a href="topcat/index.html">
          <div class="back celebration">
          </div>
        </a>
        <p class="margin-bottom-big">Zwiedziliśmy 7 świata stron. Udało się na niejedno drzewo wspiąć i zawsze spaść na 4 łapy. Te wszystkie wspólne chwile wywarły na nas duży wpływ i chcemy wspólnie z Wami świętować tę wspaniałą dekadę.
          <br>Jesteśmy Wam wdzięczni, bo bez Waszego towarzystwa, nie byłoby naszej historii. Czas na huczne zakończenie pierwszego sezonu serialu "Zawierucha" – zorganizujemy <a href="topcat/index.html" class="text-link">najlepszy turniej ever</a>! Na sztandar rzucamy sławnego Tolka Cacka i ruszamy do przygotowań. W planie high quality ultimate oraz dawka funu jakiej jeszcze nie przyjmowaliście.
          <br><br><a href="topcat/index.html" class="text-link">Dowiedz się więcej o TOP CAT...</a>
        </p>
  </section>
  <section class="insta margin-bottom-huge" id="insta">
    <h1 class="margin-bottom-big">Insta </h1>
    <a href="instagram.com/zawierucha_zwr">@zawierucha_zwr</a>
      <!-- The target container for the Insta images -->
    <div id="instafeed">
    </div>
  </section>


  <a name="contact"></a>
  <section class="contact margin-bottom-big">

        <h1 class="margin-bottom-big">Soc-ja-le<br>ale ale ale!</h1>

    <div class="socialdivs margin-bottom-huge">

      <div class="social fb">
            <a href="https://www.facebook.com/zawierucha.warszawa" target="_blank">
              <fa-icon [icon]="facebookIcon"></fa-icon>
            </a>
      </div>
      <div class="social ig">
        <a href="https://www.instagram.com/zawierucha_zwr" target="_blank">
          <fa-icon [icon]="instagramIcon"></fa-icon>
        </a>
      </div>

      <div class="social vim">
        <a href="https://vimeo.com/user131152663" target="_blank">
          <fa-icon [icon]="vimeoIcon"></fa-icon>
        </a>
      </div>

    </div>

    <!-- <iframe title="vimeo-player" src="https://player.vimeo.com/video/499989363?h=764bc5b476" width="840" height="560" frameborder="0" allowfullscreen></iframe> -->

  </section>

  </div>
  </div>
