@import '../../sass/styles';
.slides{
  width: 70%;
  margin: 1% 15%;
  @include respond(phone){
    width: 99%;
    margin: .5%;
  }
}
img
{
  width: 100%;
  vertical-align: bottom;
}
h2{
  margin: 2rem 0 0 0;
  padding-left: 15%;
  @include respond(phone){
    padding-left: 6%;

  }
}
p{
  padding: 3rem 15%;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: justify;

  @include respond(phone){
    padding: 3rem 6%;
    font-size: 1.15rem;
    line-height: 1.5rem;
    text-align: left;
  }
}

// .pic{
//   background-image: unset;
//   width: 100%;
//   height: 100vh;
//   background-position: center;
//   background-size: cover;
//   @include respond(phone){
//     height: 300px;
//   }
// }

////////////////////////////NEW
///
///
///

    @keyframes moveInBack {
      0% {
        opacity: 0;
        transform: scale(0);
      }

      80% {
        transform: scale(120%);
      }

      100% {
        opacity: 1;
        transform: scale(100%);
      }}

      @keyframes moveInBack {
        0% {
          opacity: 0;
          transform: scale(0);
        }

        80% {
          transform: scale(120%);
        }

        100% {
          opacity: 1;
          transform: scale(100%);
        }}
      @keyframes moveRightLeft {
        0% {
          transform: translateX(0);
        }

        50% {
          transform: translateX(25%);

        }


        100% {
          transform: translateX(0);
        }
      }


.history, .contact, .fresh, .insta{
	width: $central-grid-width;
	margin-left: auto;
	margin-right: auto;

	@include respond(tab-port){
		width: 100%;
	}


	& ul{
		padding: 20px;

		& > li {
			margin-bottom: 5px;
			list-style: none;}
		}


	}
  .insta{
    width: 90% !important;
    & h1{
      text-align: center;
    }
  }

	.window {
			margin: 1.7rem;
			padding: 13px;
			width: 22.5rem;
			vertical-align: middle;
			border: 4px dotted $color-gold;
			border-radius: 30px;
			display: inline-block;
			background-color: $color-white;



			@include respond (tab-port){
				display:block;
				margin: 20px auto;
				padding: 13px;
				width: 60%;
		}
			@include respond (phone){
				width: 86%;
        margin: 5%;
        padding: 2%;
			}
			&__image{
				margin-top: 2rem;
				margin-left: auto;
				margin-right: auto;
				width: 80%;
			& img{
				width:100%;


			}
		}

	}
	.fresh > .window{
		background-color: darkkhaki;
		border: 5px dotted $color-dark;

	}

	.video{
		width: 100%;
	}



#instafeed {
    display: flex;
    flex-wrap: wrap;
    max-width: 64rem;
    margin: auto;
    justify-content: center;
    // margin-top: 200px;

    @include respond(phone){
      margin-top: 0px;
    }
}





.back{
	height: 488px;
	width: 99%;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-size: 60%;
	transition: 2s;

	@include respond(phone){
		height: 300px;
		background-size: 100%;

	}
	& :hover{
		background-size: 78%;
	}
}
.celebration{
	background-image: url(../../assets/logo-topcat.png);
}
.tornado{
	background-image: url(../../assets/ZWR_logo.png);
}
.socialdivs{
  display: flex;
  justify-content: space-between;
  size: 2rem;
  margin: 17% 0%;
  fa-icon{
    font-size: 10vw;
  }
  @include respond(tab-port){
    margin: 17% 12%;

  }
}
