<img src="../../assets/about/big/1.jpg" alt="tipiKnapa w sekcji 'O nas' ilustracja nr 1">
<h2>O NAS</h2>
<!-- <div class="test"></div> -->
  <p>Moja podróż przez życie składa się ze spotkań i jest podróżą przez ludzi. Drugi człowiek, ten przede mną, jest przygodą i sensem mojego świata, i poznanie go sprawia, że rośnie we mnie wdzięczność. Z tej wdzięczności wylewają się ze mnie kolejne teksty na kolejne albumy, jednak wiem, że samym dobrym słowem nie da się uporządkować świata wokół siebie. Wiara w słuszność takiej postawy sprawiła, że długo szukałem produktu, za który dumnie mógłbym wstawić swoje nazwisko — do momentu, w którym życie mi go zaprezentowało.<br>
    Ten nóż jest tylko efektem ubocznym poszukiwań odpowiedzi na dużo większe pytania: Co jest istotą człowieczeństwa? Czym jest prawdziwe męstwo? Jak budować wolność i na jakim fundamencie ją oprzeć? Dziś mam wspaniałą rodzinę, własny las i gospodarstwo, przyjaciół z pasji, muzykę i słowa, a także mnóstwo dobrych ludzi wokół i pragnę o to wszystko dbać tak, jak potrafię najlepiej. Taką czuję odpowiedzialność, a bez niej wolność nie istnieje.
  </p>
  <div class="pic pic-1"></div>
  <p>Podczas wojażu po Polsce z moim przyjacielem <span class="bold">Łukaszem</span> zatrzymaliśmy się na obiad u jego rodziców. Tak poznałem <span class="bold">Rycha</span>. Jakiś czas potem Łukasz zrobił w domu kilka noży z piły tarczowej, które przywiózł na Grochów razem z pewną historią. Otóż <span class="semibold">Rychu</span> zaskoczony faktem, że da się taki nóż wykonać własnoręcznie (i to w domowych warunkach), zaczął sam bawić się w swoim warsztacie… a reszta to historia. Mniej więcej w tym samym czasie logo tipiKnapa wylądowało na okładce albumu „Knurion”- pierwszym z wielu albumów, do których okładki robiliśmy razem z <span class="semibold">Łukaszem</span>. Od tamtego czasu planowałem wrzucić na rynek własny produkt. Minęły cztery lata zanim połączyłem te kropki.</p>
  <div class="pic pic-2">
  </div>
  <p>Telefon do <span class="semibold">Łukasza</span>, telefon do <span class="semibold">Rycha</span> i już byliśmy w drodze na pierwsze spotkanie. Na pokładzie dodatkowo <span class="bold">dwóch Bartków</span> - speców od obiektywów i internetów, żeby to wszystko elegancko dokumentować. Gościna u <span class="bold">Państwa Wasilewskich</span> tradycyjnie przemiła, warsztat profesjonalny, <span class="semibold">Rychu</span> rzetelny w wykładaniu nam tajników swojego rzemiosła. Temat dogadany, projekt noża ustalony, termin następnego wypadu również.</p>
  <div class="pic pic-3">
  </div>
  <p>Kolejny przyjazd i mamy niespodziankę - wita nas <span class="bold">Miro Bojan</span>, autor projektu naszego noża. Słuchamy zatem jego opowieści o pasji do noży, która jest właściwie niesamowitą historią życia <span class="semibold">Mira</span>. W międzyczasie ustalamy detale techniczne i wszystko co nam się przypomni. Jest z nami również <span class="bold">Konrad</span>, kumpel z Kaszub, który w międzyczasie zmajstrował nierdzewne pudełeczka. Wspólnymi siłami dochodzimy do ostatecznej wizji. <span class="semibold">Bartek</span> zasuwa z aparatem jak poparzony, bo czas nagli. Jakiś czas później podczas spaceru z psami trafiłem przypadkiem na <span class="bold">Helio</span>, który zaoferował uporządkować wszystkie nasze pomysły i zbudować ten sklep, jak łeb.</p>
  <div class="pic pic-4">
  </div>
  <p>Tak wygląda, w dużym skrócie, historia tego noża. Cel przyświeca nam następujący - dać ludziom coś, co jest nie tylko trwałe i potrzebne, ale też piękne, wykonane ręcznie z pasją i prezentowane z dumą. Ja ze swojej strony świadczę o tym własnym nazwiskiem i dopisuję dwa słowa, pojęcia nierozłączne, które przychodzą mi na myśl jako pierwsze, kiedy myślę o takim nożu - wolność i odpowiedzialność.</p>
  <div class="pic pic-5">
  </div>


<!-- BACKGROUNDS NG FOR
  <div *ngFor="let about of abouts; let i = index">
  <p [innerHTML]="about"></p>
  <div class="test">
  </div>
</div> -->
<!-- PICTURES NG FOR
  <div *ngFor="let about of abouts; let i = index">
  <p [innerHTML]="about"></p>
  <picture>
    <source
      [srcset]="smallPhotoUrl+(i+2)+'.jpg'"
      media="(max-width: 600px)">
    <source
      [srcset]="bigPhotoUrl+(i+2)+'.jpg'"
      >
    <img  alt="TIPI KNAPA w sekcji 'O nas' ilustracja nr {{i+2}}">
  </picture>
</div> -->

