   <tr>
        <td>
          <a [routerLink]="[product.sku]">
            <img [src]="product.images[0]" alt="">
          </a>
        </td>
        <td>
            <h2>
              <a [routerLink]="[product.sku]">
                {{ product.title }}
              </a>
            </h2>
            <p><span *ngIf="product.price">👛 price: {{ product.price }} </span><span *ngIf="product.stock"><br>✅ availability: {{ product.stock }}</span><br><span *ngIf="product.capacity"> 🧑‍🧑‍🧒‍🧒 capacity: {{ product.capacity }}</span></p>
        </td>
        <td style="font-size: 1rem;">
          <!-- <a class="add-to-cart" (click)="createOrder3(token, ord, product)" > -->
            <fa-icon (click)="createOrder()" [icon]="cartIcon"  *ngIf="product.price"></fa-icon>

        </td>
      </tr>




