   <tr>
        <td>
          <a [routerLink]="[product.sku]">
            <img [src]="product.images[0]" alt="">
          </a>
        </td>
        <td>
            <h2>
              <a [routerLink]="[product.sku]">
                {{ product.title }}
              </a>
            </h2>
            <p>
              <!-- <span *ngIf="product.price !== undefined"> ✼ price/person/night: <b>{{ createPricePerPersonPerNight(product.price) }} zł</b></span> -->
              <br><span *ngIf="product.price">✼ house price / night: <b>{{ createPricePerPersonPerNight(product.price) }} zł</b></span>
              <br><span *ngIf="product.capacity"> ✼ capacity: <b>{{ product.capacity }}</b> people</span>
              <br><span> ✼ default stay dates: <b>5-8/6/2025</b></span>
              <br><br>
              <span *ngIf="product.stock">✼ availability: <b>{{ product.stock }}</b> house</span>
            </p>
        </td>
        <td>
          <ng-container *ngIf="product.options && product.options.length > 0" >
            <mat-form-field appearance="legacy"  style="margin-top: 2%;">
              <mat-label *ngIf="!selectedOption">Extend stay</mat-label>
              <mat-label *ngIf="selectedOption">Extended stay:</mat-label>
              <mat-select [(value)]="selectedOption">
                <mat-option *ngFor="let option of product.options" [value]="option">
                  {{option.optionName}}
                </mat-option>
                <mat-option [value]="null">5-8/6/2025 (default)</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <p class="price" *ngIf="selectedOption">extended stay: <b>{{ selectedOption.optionName }}</b></p> -->
          </ng-container>
        </td>
        <td style="font-size: 1rem; padding: 5px 0">
          <!-- <a class="add-to-cart" (click)="createOrder3(token, ord, product)" > -->
            <fa-icon (click)="createOrder()" [icon]="cartIcon"  *ngIf="product.price"></fa-icon>
            <h4>book</h4>
        </td>
      </tr>




