<!-- <h2>Kontakt</h2> -->
<div class="contact">
  <img src="../../assets/TIPI-KNAPA_avatar-2.jpg" alt="">
  <h2>Kuba Knap</h2>
  <a href="mailto:sklep@tipiknapa.pl">SKLEP@TIPIKNAPA.PL</a><br>
  <a href="tel:+48508092320">+48 508 092 320</a>

  <p>
    <fa-icon  [icon]="imagesIcon"></fa-icon>
    <span>PHOTOS</span> Bartek Wiski<br>
    <fa-icon  [icon]="codeIcon"></fa-icon>
    <span>DESIGNED & CODED</span> Andrzej <a href="https://helio.webd.pl/" target="_blank">☀</a> Holnicki<br>
    <fa-icon  [icon]="copyIcon"></fa-icon>
    <span>COPYRIGHTS ©</span> P.P.H.U.&nbsp;WPIER&nbsp;POL Jakub&nbsp;Knap<br>
    AD&nbsp;2021 ALL&nbsp;RIGHTS&nbsp;RESERVED</p>
</div>
