@import '../../sass/styles';
.contact{
  height: 100vh;
  text-align: center;
  background-image: url('../../assets/ZWR_background.jpg');
  background-size: 98%;
  background-position: 0 53%;
  background-repeat: no-repeat;
  filter: grayscale(46%);
  animation: fadeIn 2s backwards ease;
  transition: all;
  transform: rotate(0) scale(1);

  @include respond(tab-port){
    margin-top: -20vh;
    background-size: 180%;
    background-position: 81% 71%;
    animation: none;
  }
  @include respond(phone){
    margin-top: 0;
    margin-bottom: 6rem;
    background-size: 210%;
    background-position: 51% 41%;

  }
  & img{
    padding-top: calc(33vh - 200px);
    height: 70px;
    width: 70px;
    @include respond(phone){
      padding-top: 27vh;

    }
  }
  & h1{
    color: $contrast;
    mix-blend-mode: normal;

  }
  & h2{
    font-size: 5rem;
    color: $black;
    mix-blend-mode: normal;
    @include respond(phone){
      font-size: 3.6rem;
    }
  }
  & h3{
    margin: 1rem 0;
    @include respond(phone){
      margin: .5rem 0;
      font-size: 1rem;
    }
  }
  & p, fa-icon{
    margin-top: 2rem;
    font-size: .9rem;
    line-height: 1rem;
    letter-spacing: 0rem;
    text-align: center;
    @include respond(phone){
      font-size: 0.9rem;
      line-height: 1.1rem;
      letter-spacing: 0rem;
      word-spacing: 0px;
      text-align: left;
    }
  }
  & fa-icon{
    cursor: unset;
    filter: none;
    -webkit-filter: none;
    transition: unset;
    &:hover{
      filter: none;
      -webkit-filter: none;
    }
    @include respond(phoneUp){
      display: none;
      visibility: hidden;
    }

  }
  & span{
    @include respond(phone){
      display: none;
      visibility: hidden;
    }
  }
  & p.copyw{
    @include respond(phone){
      position: absolute;
      bottom: -5rem;
      right: 0;
    }
  }
}
