<!-- <h2>Kontakt</h2> -->
<div class="contact">

  <h2>Zawierucha</h2>
  <h3>drużyna ultimate</h3>
  <h3>agencja eventowa / wypożyczalnia turniejowa</h3>
  <a href="mailto:topcat@zwr.waw.pl">TOPCAT@ZWR.WAW.PL</a><br><br>
  <a href="tel:+48793818143">+48 793 818 143</a>

  <p class="copyw">
    <!-- <fa-icon  [icon]="imagesIcon"></fa-icon>
    <fa-icon  [icon]="codeIcon"></fa-icon> -->
    <fa-icon  [icon]="copyIcon"></fa-icon>
    <span>COPYRIGHTS ©</span> Z.W.R.&nbsp;Zagrania&nbsp;Nagrania&nbsp;Styl<br>
    2022 ALL&nbsp;RIGHTS&nbsp;RESERVED
  </p>
</div>
