@import '../../../sass/styles';

.cart{
  position: fixed;
  top: 83px;
  right: 3%;
  z-index: 12;

  @include respond(tab-port){
    right: 4%;
    top: 3%;
  }
}
p{
  padding: 1rem 7% !important;
}
