<app-cart-icon
  [cart]="cart"
  [badgeHidden]="badgeHidden"
  (click)="openDialog();">
</app-cart-icon>
<div class="stripe-ebucc">
  <img class="ebucc-logo" src="./../../../assets/ebucc-logo-full.png" alt="EBUCC 2025">
</div>

<h1>EBUCC 2025 Accommodation</h1>
<p>Book smth from the list or dm us if you have any questions at <a href="mailto:office@ebucc2025.pl">office&#64;ebucc2025.pl</a> or at <a href="tel:048793818143">(+48) 793 818 143</a></p>

<ng-container *ngIf="true">
  <div *ngFor="let product of products">
    <table>
      <app-product-list-item
        [product]="product"
        [ord]="ord"
        (updateCart)="onUpdatedCart($event)"
        >
      </app-product-list-item>
    </table>
  </div>
</ng-container>


<app-button
  *ngIf="!badgeHidden"
  text="checkout"
  [link]="checkout"
  [orderId]="ord"
  [token]="token.access_token">
</app-button>
