<app-cart-icon
  [cart]="cart"
  [badgeHidden]="badgeHidden"
  (click)="openDialog();">
</app-cart-icon>
<div class="stripe-ebucc">
  <img class="ebucc-logo" src="./../../../assets/ebucc-logo-full.png" alt="EBUCC 2025">
</div>

<h1>EBUCC 2025 Accommodation</h1>
 <p style="margin-bottom: 50px;">
  The EBUCC2025 Local Organising Committee has lined up an awesome accomodation offer just for you!<br><br>
Book smth for you from the list below or dm me if you have any questions at <a href="mailto:andrzej@ebucc2025.pl">andrzej&#64;ebucc2025.pl</a> or at <a href="tel:+48793818143">(+48)&nbsp;793&nbsp;818&nbsp;143</a>
<br><br>
Secure your spot now and make your EBUCC2025 stay unforgettable!<br><br>
<b>Bungalows left = {{ products.length }}<br>
  <br> Beds left = {{this.beds}}<br>
  <br> Extra beds available = {{this.extraBeds}}</b>
</p>
<!--
<p>At the moment we are out of stock. For now go back to <a href="https://ebucc.eu/athlete-area/accommodation/">official EBUCC website</a> and check other options.</p>
- <app-loading></app-loading> -->
<app-button
  *ngIf="!badgeHidden"
  text="checkout"
  [link]="checkout"
  [orderId]="ord"
  [token]="token.access_token">
</app-button>
<ng-container *ngIf="true">
  <div *ngFor="let product of products">
    <table>
      <app-product-list-item
        [product]="product"
        [ord]="ord"
        (updateCart)="onUpdatedCart($event)"
        >
      </app-product-list-item>
    </table>
  </div>
</ng-container>


<app-button
  *ngIf="!badgeHidden"
  text="checkout"
  [link]="checkout"
  [orderId]="ord"
  [token]="token.access_token">
</app-button>

<app-contact-person></app-contact-person>
