<div class="desktop">
  <nav>
      <div class="nav-main">
        <ul>
          <li><a routerLink="/o-nas" routerLinkActive="active">O NAS</a></li>
          <li><a routerLink="/kontakt" routerLinkActive="active">KONTAKT</a></li>
          <li><a routerLink="/sklep" routerLinkActive="active">SKLEP</a></li>
        </ul>
      </div>
    </nav>
    <!-- <nav>
      <div class="nav-tri">
        <ul>
          <li><a href="https://www.instagram.com/knapiwo/" target="_blank" routerLinkActive="active">ROBIĘ TEŻ MUZYCZKĘ</a></li>
        </ul>
      </div>
    </nav> -->
    <nav>
      <div class="nav-sec">
        <ul>
          <li><a href="https://www.facebook.com/tipiknapa" target="_blank">FACEBOOK</a></li>
          <li><a href="https://www.instagram.com/tipiknapa" target="_blank">INSTAGRAM</a></li>
        </ul>
      </div>
    </nav>
    <nav>
      <div class="nav-qua">
        <ul>
          <li><a href="http://helio.webd.pl/" target="_blank">CODE & DESIGN ☀ HELIO</a></li>
        </ul>
      </div>
    </nav>
  </div>
