@import './../../sass/styles';

//responsive desktop menu
@include respond(tab-port){
  .desktop{
      display: none;
      visibility: hidden;
  }
}

.active{
    background-color: $color;
    // border-style: solid;
    // box-shadow: black 5px 5px;
    // font-family: $f5;
}

nav{
    & *{
        z-index: 10;
    }
    & ul{
        padding: 0;
    }
    & li{
        text-decoration: none;
        list-style-type: none;

        & a{
            padding: 2.5px;
            letter-spacing: .1rem;

        }
    }
}

nav .nav-main{
    display: inline-block;
    position: fixed;
    top: 0%;
    margin-top: 6.5rem;
    line-height: 0rem;
    right: 10%;
    @include respond(tab-port){
      right: 14%;
    }


    & ul{
        display: flex;
        justify-content: flex-end;
        & li{
          margin-left: 1.5rem;
          &:last-child{
            transform: translateY(-50%);
          }
        }
    }
    & a{
        transition: .2s ease-out;
    }
}


nav .nav-sec{
    font-size: 1rem;
    position: fixed;
    bottom: 2%;
    left: 2%;
    text-align: right;
}

nav .nav-tri{
    position: fixed;
    bottom: 2%;
    left: 2%;

}

nav .nav-qua{
  font-family: $tech;
  font-size: 1.2rem;
  position: fixed;
  right: 2%;
  top: 50%;
  transform: translate(50%, -50%) rotate(270deg);
}

