<div class="desktop">
  <div class="nav-container">
    <nav>
      <div class="nav-main" *ngIf="route.snapshot.url.join('/') !== 'ebucc2025'">
        <ul>
          <li><a routerLink="/o-nas" routerLinkActive="active">DRUŻYNA</a></li>
          <!-- <li><a routerLink="/topcat" routerLinkActive="active">TOP CAT</a></li> -->
          <li><a routerLink="/kontakt" routerLinkActive="active">KONTAKT</a></li>
          <!-- <li><a routerLink="/sklep" routerLinkActive="active">SKLEP</a></li> -->
          <li><a routerLink="/ebucc2025" routerLinkActive="active">EBUCC 2025 ACCO</a></li>
          <!-- <div style="display: block; width: 100px;">
            <app-button text="Get" (click)="getLocalStorage()"></app-button>
          </div>
          <div style="display: block; width: 100px;">
            <app-button text="Clear" (click)="clearLocalStorage()"></app-button>
          </div> -->
        </ul>
      </div>
    </nav>
  </div>
  
    <!-- <nav>
      <div class="nav-tri">
        <ul>
          <li><a href="https://www.instagram.com/knapiwo/" target="_blank" routerLinkActive="active">ROBIĘ TEŻ MUZYCZKĘ</a></li>
        </ul>
      </div>
    </nav> -->
    <nav>
      <div class="nav-sec">
        <ul>
          <li><a href="https://www.facebook.com/zawieruchawarszawa" target="_blank">FACEBOOK</a></li>
          <li><a href="https://www.instagram.com/zawierucha_zwr" target="_blank">INSTAGRAM</a></li>
        </ul>
      </div>
    </nav>
    <nav>
      <div class="nav-qua">
        <ul>
          <li><a href="http://helio.webd.pl/" target="_blank">CODE & DESIGN ☀ HELIO</a></li>
        </ul>
      </div>
    </nav>
  </div>
