@import '../../sass/styles';

.title{
  position: absolute;
  top: 65vh;
  width: 84%;
  margin: 0 8%;
  @include respond(phone){
    top: 43vh;
  }
  & h1, h2{
    padding: 0;
    text-align: right;
    mix-blend-mode: lighten;
    z-index: 10;
    color: $color-orange;
    font-family: $f4;
    letter-spacing: normal;

  }
   & h1{
    font-size: 5.5rem;
    @include respond(tab-port){
      padding: 5% 0;
      line-height: 3rem;
    }

  }
  & h2{
    font-size: 3rem;
    @include respond(phone){
      font-size: 1.4rem;
      line-height: 1.4rem;
    }
  }

}


.tooltip{
  font-family: $bryg;
  position: relative !important;
  top: calc(100vh - 14.2rem ) !important;
  font-size: 1.2rem;
  height: 1.2rem;
  border-radius: 0px;
  // border-style: solid;
  box-shadow: black 5px 5px;
}

