
<main>
  <h2>{{ product.title }}</h2>
  <p class="code">{{product.vendor}} / {{ product.sku }}</p>
  <a class="add-to-cart" (click)="createOrder()" >
    Dodaj do koszyka
    <fa-icon  [icon]="cartIcon" ></fa-icon>
  </a>
  <div class="holder">

    <div class="holder-slides">
        <app-slideshow
          [slidesId]="product.slug"
          [slidesSet]="product.images"
        ></app-slideshow>
    </div>

    <div class="holder-info">
      <div class="body-wrapper" [innerHTML]="product.body"></div>
        <table class="tech">
          <!-- <tr><td>kategoria:</td> <td><span *ngFor="let category of product.categories" class="label category-label">{{ category }}</span></td></tr> -->
          <tr><td>waga noża:</td><td>{{product.weight}} g</td></tr>
          <tr><td>długość całkowita:</td> <td>{{product.length}} mm</td></tr>
          <tr><td>długość ostrza:</td> <td>{{product.bladeLength}} mm</td></tr>
          <tr><td>szerokość ostrza:</td> <td>{{product.bladeWidth}} mm</td></tr>
          <tr><td>grubość stali:</td> <td>{{product.steelThickness}} mm</td></tr>
          <tr><td>rękojeść:</td>
            <td
              class="info-holder"
              matTooltipClass="info"
              matTooltipPosition="right"
              matTooltip="Przyleciało z Ameryki Południowej, jest to drewno ciężkie, o małej wilgotności włókien i małymi wartościami skurczów, za to sporą wytrzymałością na zgniatanie statyczne i ściskanie wzdłuż włókien - dla Was ważne, że bardzo ciężko je wypaczyć, a łączenia są bardzo trwałe.">
              {{product.handle}}
            </td>
          </tr>
          <tr><td>ostrze:</td>
            <td
              class="info-holder"
              matTooltipClass="info"
              matTooltipPosition="right"
              matTooltip="Jest bardzo odporna na zużycie ścierne i cechuje ją wysoka hartowność, z kolei słonność do odkształceń jest mała - to sprawia, że ostrze jest trwałe i stępia się powoli. Polecamy ostrzałki diamentowe lub z węglika krzemu.">
              {{product.blade}}
            </td>
          </tr>
          <tr><td>pochwa:</td> <td>{{product.sheath}}</td></tr>
          <tr><td>stan magazynu:</td><td>{{this.stock}}/20 sztuk</td></tr>
          <tr><td>status:</td> <td><span *ngFor="let status of product.statuses" class="label category-label">{{ status }}</span></td></tr>
        </table>
      <p class="price" *ngIf="this.stock !== 0">
        cena: <b>{{productPrice()}} </b>
        <fa-icon  [icon]="cartIcon" (click)="createOrder()"
        matTooltip="Dodaj do koszyka"
        matTooltipShowDelay="200"
        matTooltipHideDelay="100"
        ></fa-icon>
      </p>
        <div *ngIf="ord">
          <app-button
            text="idź do checkoutu"
            [link]="checkout"
            [orderId]="ord">
          </app-button>
        </div>
    </div>
  </div>
</main>
