
<main>
  <h2>{{ product.title }}</h2>
  <p class="code">{{product.vendor}} / {{ product.sku }}</p>
  <a class="add-to-cart" (click)="createOrder()" >
    Dodaj do koszyka
    <fa-icon  [icon]="cartIcon" ></fa-icon>
  </a>
  <div class="holder">

    <div class="holder-slides">
        <app-slideshow
          [slidesId]="product.slug"
          [slidesSet]="product.images"
        ></app-slideshow>
    </div>

    <div class="holder-info">
      <div class="body-wrapper" [innerHTML]="product.body"></div>
        <table class="tech">
          <tr *ngIf="product.categories"><td>kategoria:</td> <td><span *ngFor="let category of product.categories" class="label category-label">{{ category }}</span></td></tr>
          <tr *ngIf="product.length"><td>długość:</td> <td>{{product.length}} cm</td></tr>
          <tr *ngIf="product.width"><td>szerokość:</td> <td>{{product.width}} cm</td></tr>
          <tr *ngIf="product.height"><td>wysokość:</td><td>{{product.height}} cm</td></tr>
          <tr *ngIf="product.lengthUnfold"><td>długość przed rozłożeniem:</td> <td>{{product.lengthUnfold}} cm</td></tr>
          <tr *ngIf="product.widthUnfold"><td>szerokość przed rozłożeniem:</td> <td>{{product.widthUnfold}} cm</td></tr>
          <tr *ngIf="product.heightUnfold"><td>wysokość przed rozłożeniem:</td><td>{{product.heightUnfold}} cm</td></tr>
          <tr *ngIf="product.color"><td>kolor:</td> <td>{{product.color}}</td></tr>
          <!-- <tr><td>przykładowy tooltip:</td>
            <td
              class="info-holder"
              matTooltipClass="info"
              matTooltipPosition="right"
              matTooltip="Przyleciało z Ameryki Południowej, jest to drewno ciężkie, o małej wilgotności włókien i małymi wartościami skurczów, za to sporą wytrzymałością na zgniatanie statyczne i ściskanie wzdłuż włókien - dla Was ważne, że bardzo ciężko je wypaczyć, a łączenia są bardzo trwałe.">
              {{product.handle}}
            </td>
          </tr> -->
          <tr><td>stan magazynu:</td><td>{{ product.stock }} sztuk</td></tr>
          <tr *ngIf="product.status"><td>status:</td> <td><span *ngFor="let status of product.statuses" class="label category-label">{{ status }}</span></td></tr>
        </table>
      <p class="price" *ngIf="this.product.price">
        cena: <b>{{ product.price }}</b>
        <fa-icon  [icon]="cartIcon" (click)="createOrder()"
        matTooltip="Dodaj do koszyka"
        matTooltipShowDelay="200"
        matTooltipHideDelay="100"
        ></fa-icon>
      </p>
        <div *ngIf="ord">
          <app-button
            text="idź do checkoutu"
            [link]="checkout"
            [orderId]="ord">
          </app-button>
        </div>
    </div>
  </div>
</main>
