@import '../../../sass/styles';
main{
  margin-bottom: 100px;
}
h2{
  color: $black;
  @include respond(tab-port){
    padding: 1rem 5%;
  }
}

p.code{
  color: $mild;
  width: 80%;
  text-align: left;
  padding: 0 7%;
  font-size: 1rem;
  margin-bottom: 30px;
  @include respond(tab-port){
    padding: 0 5%;
  }
}
p.price{
  font-size: 1.5rem;
  text-align: right;

  // @include respond(tab-port){
  // }
  @include respond(phone){
    font-size: 1.2rem;
  }
}
a.add-to-cart{
  margin-left: 7%;

  @include respond(tab-port){
    margin-left: 5%;
  }
  &:hover{
    cursor: pointer;
  }
  & fa-icon{
    font-size: 1.2rem !important;
  }
}
.holder{
  width: 86%;
  display: flex;
  margin: 0% 7%;
  @media screen and (max-width: 1300px){
    width: 96%;
    margin: 0;
  }
  @include respond(tab-port){
    width: 90%;
    margin: 0% 5%;
    display: block;
  }
}
.holder-slides{
  width: 500px;
  @include respond(tab-port){
    // height: 625px;
    margin: 0 auto;
  }
  @include respond(phone){
    width: 100%;
    height: 125%;
    margin: 0 auto;
  }

}
.holder-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: calc(86vw - 500px);
  @media screen and (max-width: 1300px){
    max-width: calc(96vw - 500px);

  }
  @include respond(tab-port){
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    position: relative;

  }
  @include respond(phone){
    width: 100%;
    max-width: 100%;

  }
  @include respond(big-desktop){
    width: 86vw;
  }


  & fa-icon{
    margin-left: 1rem;
    @include respond(phone){
      margin-left: 0;
    }
  }

}
.label{
  position: relative;
  border-radius: 2px;
  font-size: 1rem;
  padding: 4px;
  margin: 0 4px;
  background-color: $mild;
}
.info-holder{
  text-shadow: 2px 2px rgba($color, 0.2);
  cursor: help;
  &:hover{
    text-shadow: 2px 2px rgba($color, 0.9);
  }
}
table.tech{
  @media screen and (min-width: 900px){
    padding:  1rem 150px;
  }
  @media screen and (min-width: 1370px){
    padding:  1rem 180px;
  }
}
.info{

  width: 136px;
  font-size: 1rem;
  font-family: $tech;
  background-color: rgba(#ffffff, 1);
  color: #210d91 !important;
  @media screen and (max-width: 900px){
    font-size: 1rem;
    width: 300px;
    background-color: rgba(#fffff2, .9);

  }
  @media screen and (min-width: 1370px){
    width: 176px;
  }
}
fa-icon#back{
  position: relative;
  left: 7%;
  @include respond(tab-port){
    left: 5%;
    margin-bottom: 1rem;
  }
  @include respond(phone){
    left: 4%;
  }
}
.body-wrapper{
  padding: 0 11%;
}
mat-form-field {
  display: flex !important;
  justify-content: center;
  & * {
    font-family: $tech;
    font-size: 14px;
    color: $contrast;
  }
}