

<main *ngIf="product; else loadingBlock">
  <app-cart-icon
    [cart]="cart"
    [badgeHidden]="badgeHidden"
    (click)="openDialog();">
  </app-cart-icon>
  <fa-icon id="back" (click)="goBack();" [icon]="arrowIcon" ></fa-icon>

  <h2>{{ product.title }}</h2>
  <p class="code">{{product.vendor || 'ZWR'}} / {{ product.sku }}</p>
  <a class="add-to-cart" (click)="createOrder()" *ngIf="product.price">
    Add to the cart
    <fa-icon  [icon]="cartIcon" ></fa-icon>
  </a>
  <div class="holder">

    <div class="holder-slides">
        <app-slideshow
          [slidesId]="product.slug"
          [slidesSet]="product.images"
        ></app-slideshow>
    </div>

    <div class="holder-info">
      <div class="body-wrapper" [innerHTML]="product.body"></div>
        <table class="tech">
          <tr *ngIf="product.categories"><td>kategoria:</td> <td><span *ngFor="let category of product.categories" class="label category-label">{{ category }}</span></td></tr>
          <tr *ngIf="product.length"><td>długość:</td> <td>{{product.length}} cm</td></tr>
          <tr *ngIf="product.width"><td>szerokość:</td> <td>{{product.width}} cm</td></tr>
          <tr *ngIf="product.height"><td>wysokość:</td><td>{{product.height}} cm</td></tr>
          <tr *ngIf="product.lengthUnfold"><td>długość przed rozłożeniem:</td> <td>{{product.lengthUnfold}} cm</td></tr>
          <tr *ngIf="product.widthUnfold"><td>szerokość przed rozłożeniem:</td> <td>{{product.widthUnfold}} cm</td></tr>
          <tr *ngIf="product.heightUnfold"><td>wysokość przed rozłożeniem:</td><td>{{product.heightUnfold}} cm</td></tr>
          <tr *ngIf="product.color"><td>kolor:</td> <td>{{product.color}}</td></tr>
          <tr *ngIf="product.standard"><td>standard:</td> <td>{{product.standard}}</td></tr>
          <tr *ngIf="product.capacity"><td>capacity:</td> <td>{{product.capacity}}</td></tr>
          <tr *ngIf="product.privateBathroom"><td>private bathroom:</td> <td>{{product.privateBathroom}}</td></tr>
          <tr *ngIf="product.bedTypes"><td>bed types:</td> <td><span *ngFor="let bedType of product.bedTypes" class="label category-label">{{ bedType }}</span></td></tr>
          <tr *ngIf="product.standard"><td>standard:</td> <td>{{ product.standard }}</td></tr>
          <tr *ngIf="product.address"><td>address:</td> <td><a [href]="product.address" target="_blank">{{product.address}}</a></td></tr>

          <!-- <tr><td>przykładowy tooltip:</td>
            <td
              class="info-holder"
              matTooltipClass="info"
              matTooltipPosition="right"
              matTooltip="Przyleciało z Ameryki Południowej, jest to drewno ciężkie, o małej wilgotności włókien i małymi wartościami skurczów, za to sporą wytrzymałością na zgniatanie statyczne i ściskanie wzdłuż włókien - dla Was ważne, że bardzo ciężko je wypaczyć, a łączenia są bardzo trwałe.">
              {{product.handle}}
            </td>
          </tr> -->
          <tr *ngIf="product.stock"><td>availability:</td><td>{{ product.stock }} available</td></tr>
          <tr *ngIf="product.price"><td>price/person/night:</td><td> {{ createPricePerPersonPerNight(product.price) }} zł</td></tr>
          <tr *ngIf="product.address"><td>dafault stay dates:</td> <td>5-8/6/2025</td></tr>
          <tr *ngIf="product.status"><td>status:</td> <td><span *ngFor="let status of product.statuses" class="label category-label">{{ status }}</span></td></tr>
        </table>
        <!-- <ng-container *ngIf="product.options && product.options.length > 0" >
          <mat-form-field appearance="fill"  style="margin-top: 2%;">
            <mat-label>Extend stay</mat-label>
            <mat-select [(value)]="selectedOption">
              <mat-option *ngFor="let option of product.options" [value]="option">
                {{option.optionName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <p class="price" *ngIf="selectedOption">extended stay: <b>{{ selectedOption.optionName }}</b></p>
        </ng-container> -->
      <p class="price" *ngIf="product.price">
        price: <b>{{ product.price }}</b>
        <fa-icon  [icon]="cartIcon" (click)="createOrder()"
        matTooltip="Dodaj do koszyka"
        matTooltipShowDelay="200"
        matTooltipHideDelay="100"
        ></fa-icon>
      </p>
        <div *ngIf="!badgeHidden">
          <app-button
            text="checkout"
            [link]="checkout"
            [orderId]="ord"
            [token]="token.access_token"
            >
          </app-button>
        </div>
    </div>
  </div>
</main>
<ng-template #loadingBlock>
  <app-loading></app-loading>
</ng-template>
