@import '../../../sass/styles';

.button-holder{
  position: relative;
  width: 100%;
  height: 12rem;
  margin: 2rem 0;
  @include respond(phone){
    height: 3rem;
  }
}

.button{
  position: absolute;
  right: 5%;
  bottom: 5px;
  padding: 10px 15px;
  border-radius: 0;
  background-color: $color;
  color: black;
  text-transform: uppercase;
  min-width: 20%;
  text-align: center;
  vertical-align: bottom;
  transition: .2s ease-in-out;
  margin: 1.75rem 0 .56rem;
  // animation: enter 2s ease-in-out .3s backwards;
  @include respond(tab-land){
    font-size: 1.16rem;
  }
  @include respond(phone){
    bottom: 0;
    right: 0;
    font-size: 1.2rem;
    padding: 5px 8px;
  }
  &:hover{
    cursor: pointer;
    background-color: $selection;
    color: $color-red;
    transform: scale(1.1);
    box-shadow: $color-blue -5px -5px;
  }
}
