<div class="cart" [matBadge]="cart.data.attributes.skus_count" [matBadgeHidden]="badgeHidden" matBadgeColor="warn" matBadgePosition="above after">
  <fa-icon  [icon]="cartIcon" (click)="openDialog()"
  matTooltip="Zobacz koszyk"
  matTooltipShowDelay="200"
  matTooltipHideDelay="100"
  ></fa-icon>
</div>
  <main *ngFor="let product of products">
    <app-product
      [product]="product"
      [token]="token"
      [ord]="ord"
      (updateCart)="onUpdatedCart($event)">
    </app-product>
  </main>


