@import '../../../sass/styles';
  main{
    margin: 0 auto 6rem;
    // width: 60%;
    @include respond(tab-land){

    margin-bottom: 12rem;
  }
}


.cart{
  position: fixed;
  top: 83px;
  right: 3%;
  z-index: 12;

  @include respond(tab-port){
    right: 4%;
    top: 3%;
  }
}


