@import '../../sass/styles';
.shop-header{
  position: fixed;
  left: 250px;
  top: 0%;
  width: 40%;
  height: 13rem;
  @include respond(small-desktop){
    width: 30%;
  }
  @include respond(tab-port){
      position: absolute;
      width: 50%;
      height: 30vh;
      left: 50%;
      transform: translateX(-50%);

  }
}
h1{
  padding: 0;
  font-size: 2rem;
  letter-spacing: 0;
  font-family: $tech;
  padding-top: calc(5.85rem - 2.5px);
  @include respond(small-desktop){
    font-size: 1.6rem;
  }
  @include respond(tab-port){
    text-align: center;
    font-size: 3rem;
  }
  @include respond(phone){
    position: relative;
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding-top: 5vh;
  }

}
