
<div class="slideshow-onclick" *ngIf="slides; else loadingBlock" (swipe)="onSwipe($event)">
  <div class="mySlides fade"  *ngFor="let slide of slides" [class]="slidesId">
      <!-- <div class="numbertext">{{slide.indexOf}} / {{slides.length}}</div> -->
      <img [src]="slide.source" style="width:100%">
      <caption *ngIf="captions" class="text" >{{ slide.name }}</caption>

  <!-- Next and previous buttons -->
  <a class="prev" (click)="currentSlide(slide.indexOf - 2)">&#10094;</a>
  <a class="next" (click)="currentSlide(slide.indexOf)">&#10095;</a>
</div>

  <!-- The dots/circles -->
  <div class="dots">
    <span
      *ngFor="let slide of slides"
      class="dot"
      (click)="currentSlide(slide.indexOf - 1)"
      [class]="'dot-'+slidesId">
    </span>
  </div>


</div>

<ng-template #loadingBlock>
  <img src="../../../assets/1.jpg" alt="">
</ng-template>





