<div class="slideshow-onclick" *ngIf="slides" (swipe)="onSwipe($event)">
  <div class="mySlides fade"  *ngFor="let slide of slides" [class]="slidesId">
      <div class="numbertext">{{slide.indexOf}} / {{slides.length}}</div>
      <img [src]="slide.source" style="width:100%">
      <!-- <div class="text">{{slide.name}}</div> -->

      <!-- The dots/circles -->

  </div>

  <!-- Next and previous buttons -->


  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
  <div class="dots">
    <span
      *ngFor="let slide of slides"
      class="dot"
      (click)="currentSlide(slide.indexOf)"
      [class]="'dot-'+slidesId">
    </span>
  </div>


</div>






