
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tipi-knapa-primary: mat.define-palette(mat.$indigo-palette);
$tipi-knapa-accent: mat.define-palette(mat.$amber-palette, A400);

// The warn palette is optional (defaults to red).
$tipi-knapa-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tipi-knapa-theme: mat.define-light-theme((
  color: (
    primary: $tipi-knapa-primary,
    accent: $tipi-knapa-accent,
    warn: $tipi-knapa-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tipi-knapa-theme);

@import '/src/sass/styles';


body{
    font-family: $bryg;
    font-size: 1.3rem;
    font-weight: 599;
    letter-spacing: 0;
    margin: 0px;
    @include respond(phone){
      letter-spacing: .01rem;
    }
    & ::selection{
        background-color: $selection;
        color: $contrast;
    }
}

.router-wrapper{
    margin: 13rem 0 0 0;
    @include respond(tab-port){
      margin: 40vh 0 0 0;
    }
    & img#triangle{
      position: absolute;
      top: calc(2rem + 1vw);
      z-index: 5;
      @media screen and (orientation: portrait) {
        width: 50%;
        left: 25%;
      }
      @media screen and (orientation: landscape) {
        width: 30%;
        left: 35%;
      }
      @media screen and (min-width: 1119px){
        display: none;
      }
    }
}
nav, .button{
  font-family: $brygSemiBoldItalic;
}
a{
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px rgba($color, .2);
    @media screen and (min-width: 600px){
        &:hover{
            background-color: rgba($color, 0.8);
        }
    }
}

p, h2, h1, h3, h4, ul {
    padding: 0 5%;
    margin: 0;
}
h1{
  padding: 0rem;
  font-size: 6rem;
  letter-spacing: .6rem;
  line-height: 0rem;
  position: fixed;
  top: calc(5% + 3rem);
  left: 5%;
  z-index: 2;
  mix-blend-mode: difference;
  color: $metal;
  @include respond(tab-port){
    font-size: 4.5rem;
    letter-spacing: .45rem;
  }
  @media screen and (max-width: 600px){
    font-size: 3.5rem;
    letter-spacing: .45rem;
  }
}
h2{
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: .11rem;
  padding: 0 7%;


  @include respond(tab-port){
      font-size: 3rem;
      letter-spacing: .3rem;
  }
  @include respond(phone){
    font-size: 2rem;
    letter-spacing: .1rem;
    line-height: 2.3rem;
  }
}
p{
  text-align: left;
  padding: 1rem 4%;
  font-size: 1.18rem;
  line-height: 1.3rem;
  @include respond(big-desktop){
    font-size: 1.5vw;
    line-height: 1.6vw;
    padding: 1rem 8%;

  }
  @include respond(tab-port){
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding: 1rem 5%;
  }
  @include respond(phone){
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 1rem 1.5%;
  }
}

table{
  width: 100%;
  padding: 1rem 8%;
  font-size: 1.3rem;
  line-height: 1.5rem;

  & td {
      padding-bottom: .2rem;
      border-bottom: .5px dotted $metal;
  }
  & tr td:first-child{
    font-family: $techLight;
    text-align: start;
  }
  & tr td:last-child{
    font-family: $tech;
    text-align: end;
  }
  @include respond(phone){
    font-size: 1.2rem;
    padding: .5rem 3%;
    letter-spacing: 0px;
  }
  @include respond(big-desktop){
    padding: 2rem 20%;
  }
}

blockquote{
  color: $metal;
  font-family: $tech;
  font-size: 1.2rem;
  margin: 2% 12%;
  @include respond(tab-land){
    margin: 1% 13%;
  }
  @include respond(phone){
    font-size: 1rem;
    text-align: left;
    margin: 2% 6%;
  }
}

fa-icon{
  font-size: 2.5rem;
  cursor: pointer;
  filter: drop-shadow(2px 2px $color, .5);
  -webkit-filter: drop-shadow(2px 2px  $color, .5);
  transition: .3s;
  &:hover{
    filter: drop-shadow(2px 2px $color);
    -webkit-filter: drop-shadow(2px 2px  $color);
  }

  @include respond(tab-port){
    filter: drop-shadow(2px 2px $color);
    -webkit-filter: drop-shadow(2px 2px  $color);
  }
  @include respond(phone){
    font-size: 2rem;
  }
}



.mat-dialog-container{
  height: auto !important;
}

