
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$zwr-primary: mat.define-palette(mat.$indigo-palette);
$zwr-accent: mat.define-palette(mat.$amber-palette, A400);

// The warn palette is optional (defaults to red).
$zwr-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$zwr-theme: mat.define-light-theme((
  color: (
    primary: $zwr-primary,
    accent: $zwr-accent,
    warn: $zwr-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($zwr-theme);

@import '/src/sass/styles';


body{
    font-family: $f2;
    font-size: 1.3rem;
    font-weight: 599;
    letter-spacing: 0;
    margin: 0px;
    // background-color: #002527;
    // color: white;
    @include respond(phone){
      letter-spacing: .01rem;
    }
    & ::selection{
        background-color: $selection;
        color: gold;
    }
}

.router-wrapper{
    margin: 13rem 0 0 0;
    @include respond(tab-port){
      margin: 10vh 0 0 0;
    }
    @include respond(phone){
      margin: 20% 0 0 0;
    }
    & img#triangle{
      position: absolute;
      top: calc(2rem + 1vw);
      z-index: 5;
      display: none;

      @media screen and (orientation: portrait) {
        width: 40%;
        left: 30%;
      }
      @media screen and (orientation: landscape) {
        width: 15%;
        left: 42.5%;
        top: 1vw;
      }
      @media screen and (min-width: 1119px){
        display: none;
      }
    }
}
nav, .button{
  font-family: $nav;
}
a{
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px rgba($color, .2);
    @media screen and (min-width: 600px){
        &:hover{
            background-color: rgba($color, 0.8);
        }

    }
}

p, h2, h1, h3, h4, ul {
    padding: 0 5%;
    margin: 0;

}
h1, h2{
  font-family: $nav;
  text-transform: uppercase;
  mix-blend-mode: difference;
  color: $metal;
  letter-spacing: .3rem;
  padding: 1% 7%;
}
// ul li{
//   font-size: 1.2rem;
//   @include respond(phone){
//     font-size: 1rem;
//   }
// }
h1{
  font-size: 6rem;
  animation: fadeIn 1s .4s backwards ease;
  @include respond(tab-port){
    font-size: 4.5rem;
    letter-spacing: .45rem;
  }
  @include respond(phone){
    font-size: 2.35rem;
    line-height: 3.3rem;
    letter-spacing: .05rem;
  }
}
h2{
  font-size: 3.5rem;
  line-height: 4.5rem;
  @include respond(tab-port){
      font-size: 3rem;
      line-height: 3rem;
      letter-spacing: .3rem;
  }
  @include respond(phone){
    letter-spacing: .1rem;
    line-height: 3.3rem;

  }
}
h3{
  font-size: 1.3rem;
  font-family: $bryg;

  @include respond(phone){
    font-size: 1.2rem;
  }
}
p{
  text-align: left;
  padding: 1rem 4%;
  font-size: 1.18rem;
  line-height: 1.3rem;
  @include respond(big-desktop){
    font-size: 1.5vw;
    line-height: 1.6vw;
    padding: 1rem 8%;
  }
  @include respond(tab-port){
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding: 1rem 5%;
  }
  @include respond(phone){
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 1rem 1.5%;
  }
}

table{
  width: 100%;
  padding: 1rem 8%;
  font-size: 1.3rem;
  line-height: 1.5rem;

  & td {
      padding-bottom: .2rem;
      border-bottom: .5px dotted $metal;
  }
  & tr td:first-child{
    font-family: $tech;
    text-align: start;
  }
  & tr td:last-child{
    font-family: $tech;
    text-align: end;
  }
  @include respond(phone){
    font-size: 1.2rem;
    padding: .5rem 3%;
    letter-spacing: 0px;
  }
  @include respond(big-desktop){
    padding: 2rem 20%;
  }
}

blockquote{
  color: $metal;
  font-family: $tech;
  font-size: 1.2rem;
  margin: 2% 12%;
  @include respond(tab-land){
    margin: 1% 13%;
  }
  @include respond(phone){
    font-size: 1rem;
    text-align: left;
    margin: 2% 6%;
  }
}

fa-icon{
  font-size: 2.5rem;
  cursor: pointer;
  filter: drop-shadow(2px 2px $color, .5);
  -webkit-filter: drop-shadow(2px 2px  $color, .5);
  transition: .3s;
  &:hover{
    filter: drop-shadow(2px 2px $color);
    -webkit-filter: drop-shadow(2px 2px  $color);
  }

  @include respond(tab-port){
    filter: drop-shadow(2px 2px $color);
    -webkit-filter: drop-shadow(2px 2px  $color);
  }
  @include respond(phone){
    font-size: 2rem;
  }
}



.mat-dialog-container{
  height: auto !important;
}

.margin-bottom-small {
  margin-bottom: 20px; }

.margin-bottom-big {
  margin-bottom: 60px; }

.margin-bottom-huge {
  padding-bottom: 100px; }

.highlight{
  border-bottom: 0.5px dotted $color-gold;
  padding:5px;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}
.stripe, .background{
  background-image: url(assets/ZWR_bg.jpg);
  background-size: cover;
  filter: grayscale(90%) hue-rotate(30deg) contrast(2) brightness(.6);
  width: 100%;


}

.stripe{
  margin-top: 40px;
  height: 40px;
  background-position: 20%;
  margin-bottom: 70px;

}

.background{
  height: calc(100vh  - 26rem);
  transition: 2s;
  position: relative;
  animation: enter 1.66s $flow .01s backwards;
  width: 74%;
  margin: 0 auto;
  border-radius: 30px;
  margin-bottom: 13rem;
  @include respond(tab-port){
    background-image: url(assets/ZWR_bg-mobile.jpg);
    margin-bottom: 43vh;
    height: 80vh;
    animation: enterMobile 1.66s $flow .01s backwards;
  }

}
@keyframes enter {
  0%{
    height: calc(0vh);
    filter: grayscale(1);
    }
  100%{
    height: calc(100vh  - 26rem);
    filter: grayscale(90%) hue-rotate(30deg) contrast(2) brightness(.6);
  }
}
@keyframes enterMobile {
  0%{
    height: calc(0vh);
    filter: grayscale(.9);
    }
  100%{
    height: 80vh;
    filter: grayscale(90%) hue-rotate(30deg) contrast(2) brightness(.6);
  }
}
